$bright-color: #ff0000;
$normal-font-size: 14px;
$tooltipFontSize: 85%;
$colorTextTableBody: rgb(64, 124, 234);

@mixin cool-cells($align, $padding) {
	text-align: $align;
	padding: {
		top: $padding;
		bottom: $padding;
	}
}

/* ----- General css ---------- */
.floatLeftButton {
	float: left;
}
.floatRightButton {
	float: right;
}

.clearBoth {
	clear: both;
}

.blockAlignCenter {
	display: block!important;
 	margin: 0 auto!important;
}

.tooltipBlock {
	font-size: $tooltipFontSize;
}

.userPhotoRestrictions {
	font-size: $tooltipFontSize!important; 
	color: red;
}

.panelGridWrapper {
	.ui-widget-content {
		.ui-panelgrid-cell + .ui-panelgrid-cell {
			@include cool-cells(center, 7px);
		}
	}
}
.userListingPopupPanel {
	.ui-widget-content {
		.ui-panelgrid-cell + .ui-panelgrid-cell {
			@include cool-cells(center, 4px);
		}
	}
}

/* ----- END of General css ---------- */

/* .panelGridWithoutBorder {
	border: none;
	tr, td {
		border: none!important;
	}
} */

/*------- Admin Panel -------*/
.adminPanel {
	h1, .h1 {
		font-size: 2em;
	}
	h2, .h2 {
	  font-size: 1.8em;
	}
	h3, .h3 {
	  font-size: 1.7em;
	}
	h4, .h4 {
	  font-size: 1.4em;
	}
	
	#header {
	  	margin-top: 10px;
	    /* min-height: 100px; */
	}
	
  
	#usersTable {
		.columnsToggler {
			float: right;
			margin-top: 3px;
		}
		
		.ui-datatable-header {
			  height: 44px;
	  		  line-height: 36px;
		}
		
		.ui-datatable-tablewrapper {
			overflow: hidden;
		}
	}
	
	.ui-datatable tbody td {
		  text-align: center;
		  color: $colorTextTableBody;
	}
	
	#usersTable_head,
	#usersTable_foot,
	.userStatusCell,
	.userTypeCell {
		text-transform: lowercase;
	}
	
	.mainMenuTrigger {
		display: none;
	}
	
	.userTopMenuTrigger,
	.langSelectIcon {
		float: right;
	}
	.langSelectIcon {
		width: 195px;
		line-height: 1.2;
	}
	
	table.ui-panelgrid {
		width: 100%;
	}
	
	.columnWidth-35 {
		width: 35%;
	}
	.columnWidth-40 {
		width: 40%;
	}
	
	.userDetailsPhoto {
		height: 200px;
		display: block;
  		margin: auto;
	}
	
	.panelGridWrapper {
		.ui-panelgrid {
			margin-bottom: 15px;
		}
		
		input {
			width: 100%;
		}
		
		.ui-message {
			margin: 0px;
		}
		
	}

/*------- adminPanel/myProfile.xhtml -------*/
	&.myProfile {
				
		.myProfileForm {
			.ui-message {
				margin-left: 0px;
			}
			
			.addNewPhoneNumber {
				float: left;
				color: rgb(21, 137, 21);
  				background-color: rgba(11, 158, 11, 0.5);
			}
			
			.deletePhoneNumbers {
				float: right;
				color: rgb(219, 9, 9);
  				background-color: rgba(192, 23, 23, 0.51);
			}
			
			.phoneNumbersWrapper {
				float: left;
  				margin-top: 10px;
  				width: 100%;
  				
  				& > div {
  					width: 100%;
  					
  				}
  				
  				.phoneNumberRow {
  					margin-bottom: 10px;
  				}
  				
  				input {
  					width: 85%;
  					margin-left: 4%;
  				}
			}
		}
		
		.userPhotoWrapper {
  			background-size: cover;
  			height: 150px;
		}
	}
/*------- END of adminPanel/myProfile.xhtml -------*/
}

/*------- END of .adminPanel -------*/



/*Logging Form*/
	#loggingTitle {
		margin-top: 20px;
		text-align: center;	
	}
	 
	#loggingFormWrapper {
		border-radius: 10px;
		border: 1px solid;
		box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	/* 	font-size: 150%; */
		padding-top: 10px;
	  	padding-bottom: 10px;
	  	margin-top: 50px;
	  
		input, button {
			width: 100%;
			margin: 5px 0 20px;
			padding: 5px;
		}
		
		.logInButton {
			width: 50%;
			margin: 5px auto 20px;
			display: block;
		}
	}
	
	.langSelectTop {
		width: 100%;
		max-width: 120px;
	}
	
	#langSelectIcon {
		float: left;
	  	margin-right: 7px;
	  	margin-top: 5px;
	}
	
	#langSelect {
		label {
	/* 		font-size: 125%; */
		}
		
		div .ui-selectonemenu-trigger {
			width: auto;
		}
	}
/*END --- Logging Form --*/


.ui-icon.fa {
	width: 25px;
}

.mainMenu {
	form {
		div {
		  width: 100%;
		}
	}
}


@media (max-width: 658px) {
	.adminPanel {
		.mainMenuTrigger {
			display: block;
		}
	
		.mainMenu {
			display: none;
		}
		.mainContent {
			width: 100%;
		}
	}
}





/*------- Front End -------------*/
.frontEnd {
	h1, .h1 {
		font-size: 2em;
	}
	h2, .h2 {
	  font-size: 1.8em;
	}
	h3, .h3 {
	  font-size: 1.7em;
	}
	h4, .h4 {
	  font-size: 1.4em;
	}
	
	#header {
		margin-top: 10px;
	}
}

















